@charset "UTF-8";

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: linear-gradient(to right, #72F2EB, #00CCC0);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(136, 26, 26, 0.596);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
color: orange;
text-align: center;
text-shadow: 1px 1px 2px rgba(168, 110, 2, 0.712) ;
}

h2{
    text-align: justify;
    font-size: 20px;
    color: rgb(50, 50, 248)
}

p{ 
    text-align: justify;
}